  body {
    font-size: 10pt;
    counter-reset: sno;
  }

  table.datasheet {
    width: 70em;
    margin: auto;
    border-collapse: collapse;
    padding: 0px;

  }

  td.sno {
    width: 2em;
    border: 1px solid;
  }

  td.rev {
    width: 2em;
    border: 1px solid;
  }

  td.col1,
  td.col2,
  td.col3,
  td.col4,
  td.col5,
  td.col6 {
    width: 11em;
  }

  td {
    vertical-align: middle;
    height: 100%;
    padding: 0px;
  }

  tr {
    border: 1px solid black;
    height: 2em;
    line-height: 2em;
    vertical-align: middle;
  }

  input, select {
    height: 1.5em;
    vertical-align: middle;
    box-sizing: border-box;
  }

  span {
    display: inline-block;
    padding-left: 0.5em;
  }

  span.sno::after {
  counter-increment: sno;
  content: counter(sno);

 }

 .shead{
   font-size: 1.2em;
   font-weight: bold;
 }

  table.nested {
    width:100%;
    border-collapse: collapse;
  }
  table.nested  td {

  }
  table.nested tr{
    border: 0px;
  }

  .venChk input {
    display: none;
  }

  .venChk span:after {
    display: block;
    content: "□";
    line-height: 0.7em;
    font-size: 2em;
  }

  .venChk input:checked+span:after {
    display: block;
    content: "■";
    /*In here u have to use another unicode sign for checked */
  }

  .purChk input {
    display: none;
  }

  .purChk span:after {
    display: block;
    content: "○";
    line-height: 1em;
    font-size: 2em;
  }

  .purChk input:checked+span:after {
    display: block;
    content: "●";
    /*In here u have to use another unicode sign for checked */
  }

  .mutChk input {
    display: none;
  }

  .mutChk span:after {
    display: block;
    content: "▽";
    line-height: 1.3em;
    font-size: 1.3em;
  }

  .mutChk input:checked+span:after {
    display: block;
    content: "▼";
    /*In here u have to use another unicode sign for checked */
  }


  .w2 {
    width: 2em;
  }

  .w4 {
    width: 4em;
  }

  .w6 {
    width: 6em;
  }

  .w8 {
    width: 8em;
  }

  .w10 {
    width: 10em;
  }

  .w12 {
    width: 12em;
  }

  .w14 {
    width: 14em;
  }

  .w16 {
    width: 16em;
  }

  .w18 {
    width: 18em;
  }

  .w20 {
    width: 20em;
  }

  .w22 {
    width: 22em;
  }

  .w24 {
    width: 24em;
  }

  .w26 {
    width: 26em;
  }

  .w28 {
    width: 28em;
  }

  .w30 {
    width: 30em;
  }

  .w32 {
    width: 32em;
  }

  .w60 {
    width: 60em;
  }

  .w66 {
    width: 66em;
  }
